html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
  border: 2px solid black;
  position: relative;
}

.grid-container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "Section-1 Section-1 Section-2 Section-3 Section-3 Section-4 Section-4 Section-4" "Section-1 Section-1 Section-2 Section-6 Section-6 Section-6 Section-7 Section-7" "Section-5 Section-5 Section-2 Section-6 Section-6 Section-6 Section-7 Section-7" "Section-9 Section-10 Section-10 Section-6 Section-6 Section-6 Section-11 Section-11" "Section-9 Section-10 Section-10 Section-12 Section-12 Section-12 Section-13 Section-13" "Section-9 Section-15 Section-15 Section-15 Section-16 Section-17 Section-17 Section-18" "Section-9 Section-15 Section-15 Section-15 Section-16 Section-17 Section-17 Section-20";
}

#section1 { grid-area: Section-1;
Background-color: #A6E2E6
}

#section2 { grid-area: Section-2; 
Background-color: #99FFFF
}

#section3 { grid-area: Section-3;
Background-color: #50C0C0
}

#section5 { Background-color: #6BDEDE; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . ." "Section-8 Section-8 Section-8";
  grid-area: Section-5;
}

#section8
{ background-color: #16ABAB; 
 
  grid-area: Section-8; 
  border-width: 4px 0 0 0;
}

#section4 { grid-area: Section-4; 
background-color: #1A469F}

#section6 {
  grid-area: Section-6;
background-colcor: #779AE1}

#section7 { grid-area: Section-7; 
background-color: #779AE1}

#section10 { grid-area: Section-10; 
backround-color: #2C4C8B}

#section11 { grid-area: Section-11; 
background-color: #7BA2EF}

#section12 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . ." "Section-14 Section-14 Section-14";
  grid-area: Section-12 
    ;
}

#section14 { 
  grid-area: Section-14; 
  border-width: 4px 0 0 0;
}

#section13 { grid-area: Section-13; }

#section15 { grid-area: Section-15; }

#section16 { grid-area: Section-16; }

#section17 { grid-area: Section-17; }

#section9 { grid-area: Section-9; }

#section18 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . Section-19" ". . Section-19";
  grid-area: Section-18;
}

#section19 { 
  grid-area: Section-19; 
  border-width: 0 0 0 4px;
}

#section20 { grid-area: Section-20; }
